// COLORS
$pink:   #F2BBD9;
$blue:   #307CBF;
$yellow: #F2B988;
$orange: #F29F80;
$red:    #F28177;

// FONT FAMILIES
$h1font: 'Homemade Apple', cursive;
$amatic: 'Amatic SC', cursive;
$caveat: 'Caveat', cursive;
$lateef: 'Lateef', cursive;
$pfont:  'Noto Sans JP', sans-serif;

// FONT SIZES
$h1size: 5rem;
$h2size: 4rem;
$h3size: 3rem;
$psize: 2rem;
$small: 1.5rem;

// SPACING
$layoutmargin: 5rem;
$componentmargin: 3rem;

$layoutpadding: 3.5rem;
$componentpadding: 2rem;


// BREAKPOINTS
