.button {
    border: none;
    border-radius: 50rem;
    font: {
        family: $caveat;
    }
    text: {
        transform: uppercase;
    }
    padding: {
        left:   $componentpadding;
        top:    1rem;
        right:  $componentpadding;
        bottom: 1rem;
    }

}