h1 {
    color: $blue;
    font: {
        family: $h1font;
        size: $h1size;
    }
}

h2 {
    color: $red;
    font: {
        family: $caveat;
        size: $h2size;
    }
}

h3 {
    color: $orange;
    font: {
        family: $caveat;
        size: $h3size;
    }
}

p {
    color: rgb(151, 0, 88);
    line-height: 2rem;
    font: {
        family: $lateef;
        size: $psize;
    }
}